* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: e "eodoto", sans-serif;
  line-height: 1.6;
  background: var(--bg-color);
  color: var(--text-color);
  transition: all ease 0.4s;
}
.card-custom {
  overflow: hidden;
  min-height: 300px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 120px;
  min-height: 187px;
  background-repeat: "no-repeat";
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: "";
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: "40px";
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: trsparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}

.buttoncreate {
  background-color: #548362;
  color: #fff;
  padding: 3px 3px;
  font-size: 18px;
  margin-right: 20px;
  /* box-shadow: none; */
}
.footer_bottom {
  background: #3c5344ee;
  padding: 15px 0;
}

.footer_bottom p.crp {
  float: left;
  margin: 0;
  color: #fff;
  font-size: 15px;
  text-align: center;
}
